<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <h1 style="text-align: center; background: rgb(41, 141, 207);color: black;">View Details</h1>
    <div id="nav">
        <a routerLink="accountdetail" class="link1">View Balance </a>
        <br>
        <a routerLink="personaldetail" class="link1">Personal Detail </a>
        <br>
        <a routerLink="transactiondetail" class="link1">Transaction Detail </a>
        <br>
        <br class="clear" />
    </div>
    <div id="txt" align="center">
        <router-outlet></router-outlet>
    </div>


</body>

</html>