<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div>
    <h1 style="text-align: center; background: rgb(41, 141, 207);">Transaction Report</h1>
    </div>
    <table id="table">
        <tr style="background-color: burlywood;">
            <td style="background-color: burlywood;">Amount Transfer</td>
            <td style="background-color: burlywood;">Date</td>
            <td style="background-color: burlywood;">Amount Received </td>
            <td style="background-color: burlywood;">senderMobileNumber</td>
            <td style="background-color: burlywood;">receiverMobileNumber</td>
        </tr>
            <tr *ngFor="let ar of reportList">
                <td> {{ar.amtTransfer}}</td>
                <td>  {{ar.dateoftransfer}}</td>
                <td>  {{ar.amtReceived}}</td>
                <td>{{ar.senderPhnNumber}}</td>
                <td>{{ar.receiverPhnNumber}}</td>
            </tr>
    </table>
    