<div>

            <h1 style="text-align: center; background: rgb(41, 141, 207);">Update detail</h1>

    </div>
    <div *ngIf="!notAvailable">
    <table id="table">
        <tr style="background-color: burlywood;">
            <td style="background-color: burlywood;">Customer Name</td>
            <td style="background-color: burlywood;">Age</td>
            <td style="background-color: burlywood;">Gender</td>
            <td style="background-color: burlywood;">EmailId</td>
            <td style="background-color: burlywood;">Update</td>
        </tr>
            <tr >
                <td>{{customer?.custName}}</td>
                <td>{{customer?.age}}</td>
                <td>{{customer?.gender}}</td>
                <td>{{customer?.emailId}}</td>
                <td><input type="button" value="Personal Detail" id="update" (click)="formupdate(customer)">
                </td>
            </tr>
    </table>
</div>

   <div *ngIf="!detailSubmitted">
    <form id="hide" >
        <h1 style="text-align: center; background: rgb(41, 141, 207);">Form to update detail</h1>
        <table align="center">
            <tr>
                <td>Customer Name</td>
                <td><input type="text" name="custName" value="custName" [(ngModel)]="custName" ></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" name="age" [(ngModel)]="age" ></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="text" name="gender" [(ngModel)]="gender" ></td>
            </tr>
            <tr>
                <td>Email Id</td>
                <td><input type="text" name="emailId" [(ngModel)]="emailId" ></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" value="Update Data" (click)="updateDetail()"></td>
                
            </tr>
        </table>
    </form>
</div>
<div id="message">
    {{message}}
</div>
