<div>
    <h1 style="text-align: center; background: rgb(41, 141, 207);">Customer list</h1>
    </div>
    <div id="message">
        {{message}}
    </div>
    <div id="errormessage">
        {{errormessage}}
    </div>
    <table id="table">
        <tr style="background-color: burlywood;">
            <td style="background-color: burlywood;">Phone Number</td>
            <td style="background-color: burlywood;">CustomerName</td>
            <td style="background-color: burlywood;">Age</td>
            <td style="background-color: burlywood;">Gender</td>
            <td style="background-color: burlywood;">EmailId</td>
            <td style="background-color: burlywood;">AccountStatus</td>
            <td style="background-color: burlywood;">Action</td>
    
        </tr>
        <ng-container *ngFor="let cust of pendingCustomerList">
            <tr >
                <td>{{cust.phoneNo}}</td>
                <td>{{cust.custName}}</td>
                <td>{{cust.age}}</td>
                <td>{{cust.gender}}</td>
                <td>{{cust.emailId}}</td>
                <td>{{cust.accountStatus}}</td>
                <td ><input type="submit" value="Approve Or Reject" id="submit"   name="submit" (click)=AcceptOrReject(cust,$event)></td>
            </tr>
        </ng-container>
    </table>
   
    