<div>
    <h1 style="text-align: center; background: rgb(41, 141, 207);color: black;">Personal Detail</h1>
    </div>
    <table id="table">
        <tr style="background-color: burlywood;">
            <td style="background-color: burlywood;">Phone Number</td>
            <td style="background-color: burlywood;">CustomerName</td>
            <td style="background-color: burlywood;">Age</td>
            <td style="background-color: burlywood;">Gender</td>
            <td style="background-color: burlywood;">EmailId</td>
            <td style="background-color: burlywood;">AccountStatus</td>
    
        </tr>
            <tr >
                <td>{{customer?.phoneNo}}</td>
                <td>{{customer?.custName}}</td>
                <td>{{customer?.age}}</td>
                <td>{{customer?.gender}}</td>
                <td>{{customer?.emailId}}</td>
                <td>{{customer?.accountStatus}}</td>
            </tr>
    </table>
    