<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ewallet</title>

  <link rel="stylesheet" type="text/css" href="app.component.css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>



<body class="bg">
  <div id="bg1"></div>
  <div id="bg2"></div>
  <div id="outer">
      <div id="header">
          <div id="logo">
              <h1 style="text-align: center;">
                  {{title}}
              </h1>
          </div>
          <br>
          <div id="txt" align="right"></div>
          <div id="nav">
              <ul>
                  <li>
                      <a routerLink="admin">Admin&nbsp; &nbsp; &nbsp; </a>
                  </li>
                  <li>
                      <a routerLink="customer">Customer &nbsp; &nbsp; &nbsp; </a>
                  </li>
                  <li><a routerLink="contactus">About Us</a></li>
              </ul><br class="clear" />
          </div>
      </div>
      <div id="txt" align="center">

          <router-outlet></router-outlet>
      </div>


      <div id="banner">
          <div class="captions">
              <h2>GOOD PEOPLE TO GROW WITH</h2>
          </div>
      </div>
  </div>
</body>

</html>



<!-- <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Ewallet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li>
          <a routerLink="admin">Admin&nbsp; &nbsp; &nbsp; </a>
      </li>
      <li>
          <a routerLink="customer">Customer &nbsp; &nbsp; &nbsp; </a>
      </li>
      <li><a routerLink="contactus">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>


</body> -->

