<div class="about-section">
    <h1>About Us </h1>
    <p>Hi , this is E-Wallet Management application team.</p>
    <p>In this project we used Spring Boot for Backend and Angular for the Frontend .</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" style="align-items: center;">
    <div class="column" style="align-items: center;">
      <div class="card">
        <img src="/assets/images/soham.jpg" alt="Soham" style="width:45%">
        <div class="container">
          <h2>Soham Purohit</h2>
          <p class="title">Senior Analyst</p>         
          <p>soham.a.purohit@capgemini.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column" style="align-items: center;">
      <div class="card">
        <img src="/assets/images/praveen.jpg" alt="Praveen" style="width:50%">
        <div class="container">
          <h2>Praveen Kumar</h2>
          <p class="title">Senior Analyst</p>
          
          <p>praveen.p.kumar@capgemini.com</p>
         
        </div>
      </div>
    </div>
  
    
  </div>